@model Admin
@{
    ViewData["Title"] = "UpdateManager";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <!--    <h2>Yönetici Güncelle :<strong class="text-xl-start"> @ViewBag.basvuru </strong> </h2>-->
            <a asp-action="FindManager" asp-controller="ManagementPanel" class="btn btn-info">Geri Dön</a>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->

<br />
<br />
@if (TempData["ADHGSFJSGVnvnsasZZzzqBaAAabBAqr"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ADHGSFJSGVnvnsasZZzzqBaAAabBAqr"]
    </div>
}
@if (TempData["ADHGSFJSGVnvnadaqqQQzzqBaAAabBAqr"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["ADHGSFJSGVnvnadaqqQQzzqBaAAabBAqr"]
    </div>
}
<div class="container ml-5 mr-5">
    <form asp-controller="ManagementPanel" asp-action="UpdateManager" method="post">
        <div class="form-group">
            <label for="UserName">Kullanıcı adınız</label>
            <input asp-for="UserName" class="form-control" value="@Model.UserName" disabled />
            <div class="validate"></div>
        </div>
        <div class="form-group mt-2">
            <label for="Password">Şifrenizi giriniz</label>
            <input type="password" class="form-control" asp-for="Password">
            <div class="validate"></div>
        </div>
        <div class="form-group mt-2">
            <label for="SecretQuestion">Gizli Sorunuz</label>
            <select asp-for="SecretQuestion" class="form-control col">
                <option selected disabled>@Model.SecretQuestion</option>
            </select>
            <div class="validate"></div>
        </div>
        <div class="form-group mt-2">
            <label for="SecretAnswer">Cevabınızı Yazınız</label>
            <input asp-for="SecretAnswer" class="form-control">
        </div>
        <div class="row container mt-5">
            <input type="submit" value="Güncelle" class="btn btn-outline-primary" />
        </div>
    </form>
</div>
